.hsearchbar {
    padding-left: 40%;
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    z-index: 1;
    width: 85%;
}

.calendarbutton {
    padding-left: 40%;
    z-index: 1;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    z-index: 1;
    width: 85%;
}