@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background-image: url("../../resources/main-background.png");
}

.layer {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

ul {
    font-size: 1.75rem;
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    list-style-type: none;
    text-transform: uppercase;
}

.hover-underline-animation {
    text-decoration: none;
    display: inline-block;
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.hover-underline-animation::before {
    content: " ";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    background-color: aqua;
    transition: width 0.25s ease-out;
}

.hover-underline-animation:hover::before {
    width: 100%;
}

h1 {
    text-align: center;
    margin-top: 15rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    font-size: 5rem;
    margin-left: 5rem;
    text-shadow: 2px 2px purple;
}
.home-icon {
    position: absolute;
    height: 5rem;
    top:0;
    left:0;
}
.home-link{
    position:absolute;
    top:0;
    left:0;
}


/*a {*/
/*  margin: 0;*/
/*  transition: all .4s;*/
/*  -webkit-transition: all .4s;*/
/*  -o-transition: all .4s;*/
/*  -moz-transition: all .4s*/
/*}*/

/*a:focus {*/
/*  outline: none !important*/
/*}*/

/*a:hover {*/
/*  text-decoration: none*/
/*}*/

/*h1, h2, h3, h4, h5, h6 {*/
/*  margin: 0*/
/*}*/

/*p {*/
/*  margin: 0*/
/*}*/

/*ul, li {*/
/*  margin: 0;*/
/*  list-style-type: none*/
/*}*/

/*input {*/
/*  display: block;*/
/*  outline: none;*/
/*  border: none !important*/
/*}*/

/*textarea {*/
/*  display: block;*/
/*  outline: none*/
/*}*/

/*textarea:focus, input:focus {*/
/*  border-color: transparent !important*/
/*}*/

/*button {*/
/*  outline: none !important;*/
/*  border: none;*/
/*  background: 0 0*/
/*}*/

/*button:hover {*/
/*  cursor: pointer*/
/*}*/

/*iframe {*/
/*  border: none !important*/
/*}*/

.limiter {
     width: 100%;
     margin: 0 auto
 }

.container-table100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 33px 30px
}

.wrap-table100 {
    width: 1300px
}

table {

    background-color: #fff
}

th, td {
    font-weight: unset;
    padding-right: 10px;
    text-align: center;
}

.column100 {
    width: 130px;
    padding-left: 25px
}

.column100.column1 {
    width: 265px;
    padding-left: 42px
}

.row100.head th {
    padding-top: 24px;
    padding-bottom: 20px
}

.row100 td {
    padding-top: 18px;
    padding-bottom: 14px
}

.table100.ver6 {
    border-radius: 16px;
    overflow: hidden;
    background: #7918f2;
    background: -webkit-linear-gradient(-68deg, #ac32e4, #4801ff);
    background: -o-linear-gradient(-68deg, #ac32e4, #4801ff);
    background: -moz-linear-gradient(-68deg, #ac32e4, #4801ff);
    background: linear-gradient(-68deg, #ac32e4, #4801ff)
}

.table100.ver6 {
    border-radius: 16px;
    overflow: hidden;
    background: #7918f2;
    background: -webkit-linear-gradient(-68deg, #ac32e4, #4801ff);
    background: -o-linear-gradient(-68deg, #ac32e4, #4801ff);
    background: -moz-linear-gradient(-68deg, #ac32e4, #4801ff);
    background: linear-gradient(-68deg, #ac32e4, #4801ff)
}
.green {
    border-radius: 16px;
    overflow: hidden;
    background: #157d31;
    background: -webkit-linear-gradient(-68deg, #32e450, #157d31);
    background: -o-linear-gradient(-68deg, #32e450, #157d31);
    background: -moz-linear-gradient(-68deg, #32e450, #157d31);
    background: linear-gradient(-68deg, #32e450, #157d31)
}


/*.table100.ver6 table {*/
/*  background-color: transparent*/
/*}*/

.table100.ver6 td {
    /*font-family: "Comic Sans MS";*/
    font-size: 14px;
    color: #fff;
    line-height: 1.4
}

.table100.ver6 th {
    /*font-family: "Comic Sans MS";*/
    font-size: 12px;
    color: #fff;

    line-height: 1.4;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, .32)
}

.table100.ver6 .row100:hover td {
    background-color: rgba(255, 255, 255, .1)
}

.table100.ver6 .hov-column-ver6 {
    background-color: rgba(255, 255, 255, .1)
}

.table100.ver6 .row100 td:hover {
    background-color: rgba(255, 255, 255, .2)
}

.bookNowButton{

    background-color: #157d31
}


.bookedButton{
    background-color: #7d1515
}